
.icon-doc-inv:before { content: '\e800'; } /* '' */
.icon-target-1:before { content: '\e801'; } /* '' */
.icon-target:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-user-1:before { content: '\e805'; } /* '' */
.icon-tag-1:before { content: '\e806'; } /* '' */
.icon-folder:before { content: '\e807'; } /* '' */