<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demande de devis - Projet Web</title>
    <meta name="author" content="© Glicer"/>
    <meta name="description" content="Formulaire de demande de devis - Projet de développement web"/>
    <meta name="robots" content="noarchive">
    <meta name="google" content="notranslate">
    <link rel="shortcut icon" href="img/favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cmn.glicer.com/js/html5shiv.js"></script>
    <script src="http://cmn.glicer.com/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/requestquotationformfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/animation.css"/>
</head>
<body>
<div class="container">
    <div class="main col-md-10 col-md-offset-1 well well-sm">
        <div class="main-title">
            <h1>Demande de devis</h1>

            <h2>Projet Développement Web</h2>
        </div>
        <div class="col-md-12">
            <form id="quotationForm" method="POST" class="form-horizontal" enctype="multipart/form-data"
                  v-on:submit.prevent="submitForm">
                <div>
                    <transition-group name="fade">
                        <form-section v-for="section in sections" :section="section" :key="section.id" v-if="show">
                        </form-section>
                    </transition-group>
                    <transition name="fade">
                        <form-submit v-if="show" :loading="loading" :result="result"></form-submit>
                    </transition>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <a class="small" href="http://www.glicer.com">Dev &amp; Rock 'n' roll © Glicer</a>
    </div>
</footer>

<script src="js/vue.js"></script>
<script src="js/vee-validate.js"></script>
<script src="js/fr.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/requestquotationform.js"></script>
</body>